<div class="body">

  <div class="title">
   <div class="main-title">kakevo</div>
   <div class="sub-title">~シンプルな家計簿~</div>
  </div>

  <div class="contents">

    <div class="contents-one">
     <div class="name1">科目設定</div>
     <div class="income"><%= link_to "収入科目設定", incomes_path %></div>
     <div class="fixed"><%= link_to "固定費科目設定", fixeds_path %></div>
     <div class="changes"><%= link_to "変動費科目設定", changes_path %></div>
    </div>

    <div class="contents-two">
      <div class="name1">収支登録</div>
      <div class="income"><%= link_to "収入金額登録", income_values_path %></div>
      <div class="fixed"><%= link_to "固定費金額登録", fixed_values_path %></div>
      <div class="changes"><%= link_to "変動費金額登録", change_values_path %></div>
    </div>

    <div class="contents-three">
      <div class="name1">収支確認</div>
      <div class="balance"><%= link_to "収支確認画面", balance_path %></div>
    </div>

  </div>
</div> 