<h2>固定費科目の新規データ登録</h2>
<%= link_to "トップページへ戻る", root_path %>
<p>登録年月を設定してください</p>
<%= form_tag({controller: :fixed_values, action: :new}, {method: :post}) do %>
	<input type="month" name="year_month">
	<input type="submit">
<% end %>

<h2>固定費科目 データ一覧 </h2>
<% if @fixed_values.present? %>
<table>
  <tr>
    <th>登録年月</th>
    <th>名称</th>
    <th>値</th>
    <th>備考</th>
		<th>操作</th>
  </tr>
	<% @fixed_values.each do |fixed_value| %>
	<tr>
		<td><%= fixed_value.year_month.strftime('%Y年%m月') %></td>
		<td><%= @fixeds.find(fixed_value.fixed_id).name %></td>
		<td><%= fixed_value.value %> 円</td>
		<td><%= fixed_value.description %></td>
		<td>
		<%= link_to "編集", edit_fixed_value_path(fixed_value.id) %> 
		<%= link_to "削除", fixed_value_path(fixed_value.id), method: :delete %>
		</td>
	</tr>
	<% end %>
</table>
<% else %>
	<p>登録されているデータがありません。</p>
<% end %>