<div class="body">

<div class="title">
 <div class="main-title"><%= link_to "kakevo", root_path %></div>
 <div class="sub-title"><%= link_to "固定費科目データ一覧に戻る", fixed_values_path %></div>
</div>

<div class="fixed-values-n"><%="固定費科目データ登録" %></div>
<%= form_for(@form, url: fixed_values_path, method: :post) do |fb| %>

<!-- 年月テーブル -->
<table>
  <tr>
    <th>登録年月</th>
    <th>名称</th>
    <th>値</th>
    <th>備考</th>
  </tr>

  <% cnt=0 %>
  <%= fb.fields_for :fixed_values do |f| %>
  <%= f.hidden_field :fixed_id %>

 <tr>
		<td>
      <%= f.date_select :year_month,
						start_year: 2010, end_year: Time.current.year,
						use_month_numbers: true, discard_day: true, default: @year_month
            %>
    </td>

   <th>
    <%= @fixeds.find(@form.fixed_values[cnt].fixed_id).name %>
    </th>
    <% cnt+=1 %>
    <td><%= f.text_field :value, size: 8 %></td>
    <td><%= f.text_field :description, size: 8 %></td>

 </tr>
<% end %>
</table>

<div class="register"><%= fb.submit "登録" %></div>
<% end %>
</div>