<div class="body">

<div class="title">
 <div class="main-title"><%= link_to "kakevo", root_path %></div>
</div>


<div class="balance-i"><%= @year_month %> 月次収支確認 </div>
<div class="memory1">収入</div>
<% if @income_values.present? %>
<table>
  <thead>
      <tr>
          <th>科目名</th>
          <th>値</th>
          <th>備考</th>
      </tr>
  </thead>
  <tbody>
      <% @income_values.each do |income_value| %>
        <tr>
         <td><%= @incomes.find(income_value.income_id).name %></td>
         <td style= "text-align: right"><%= income_value.value %>円</td>
         <td><%= income_value.description %></td>
        </tr>
      <% end %>
      <tr>
         <td><b>収入合計</b></td>
         <td style= "text-align: right"><b><%= @income_value_total %>円</b></td>
         <td></td>
      </tr>
  </tbody>
</table>

<% else %>
  <p>登録されている収入がありません</p>
<% end %>

<div class="memory2">固定費</div>
<% if @fixed_values.present? %>
<table>
  <thead>
      <tr>
          <th>科目名</th>
          <th>値</th>
          <th>備考</th>
      </tr>
  </thead>
  <tbody>
      <% @fixed_values.each do |fixed_value| %>
        <tr>
            <td><%= @fixeds.find(fixed_value.fixed_id).name %></td>
            <td style="text-align: right"><%= fixed_value.value %>円</td>
            <td><%= fixed_value.description %></td>
        </tr>
      <% end %>
      <tr>
         <td><b>固定費合計</b></td>
         <td style= "text-align: right"><b><%= @fixed_value_total %>円</b></td>
         <td></td>
      </tr>
  </tbody>
</table>

<% else %>
     <P>登録されている固定費がありません</p>
<% end %>

<div class="memory3">変動費</div>
<% if @change_values.present? %>
<table>
  <thead>
      <tr>
          <th>科目名</th>
          <th>値</th>
          <th>備考</th>
      </tr>
  </thead>
  <tbody>
      <% @change_values.each do |change_value| %>
          <tr>
             <td><%= @changes.find(change_value.change_id).name %></td>
             <td style= "text-align: right"><%= change_value.value %>円</td>
             <td><%= change_value.description %></td>
          </tr>
      <% end %>
      <tr>
          <td><b>変動費合計</b></td>
          <td style="text-align: right"><b><%= @change_value_total %>円</b></td>
          <td></td>
      </tr>
  </tbody>
</table>


<table>
<tbody>
<tr>
     <div class="memory4">収支差</div>
    <td><b><%= @balance_difference %>円</b></td>
    <td></td>
</tr>
</tbody>
</table>


<% else %>
     <P>登録されている変動費がありません。</p>
<% end %>
</div>

