<div class="body">
<div class="title">
 <div class="main-title"><%= link_to "kakevo", root_path %></div>
</div>

<div class="balance-i"><%= @year %>年 年間収支確認</div>
<table>
        <tr>
          <th>年月</th>
          <th>収入合計値</th>
          <th>固定費合計値</th>
          <th>変動費合計値</th>
          <th>収支(収入-費用)結果</th>
        </tr>
      <% month = 1 %>
      <% 0.upto(11) do |i| %>
        <% if @income_value_totals[i].present? %>
            <tr>
            <td><%= @year %>年<%= i+1 %>月</td>
            <td><%= @income_value_totals[i]%>円</td>
            <td><%= @fixed_value_totals[i]%>円</td>
            <td><%= @change_value_totals[i]%>円</td>
            <td><%= @balance_differences[i]%>円</td>
            </tr>
        <% end %>
      <% end %>
</table>
</div>