<div class="body">
<div class="title">
 <div class="main-title"><%= link_to "kakevo", root_path %></div>
</div>


<div class="balance-i">月次収支確認</div>
<div class="balance-r"><%= form_tag({controller: :balance, action: :show}, {method: :post}) do %>
<input type="month" name="year_month">
<input type="submit">
<% end %>
</div>

<div class="balance-i">年間収支確認</div>
<div class="balance-r"><%= form_tag({controller: :balance, action: :show_year}, {method: :post}) do %>
    <input type="hidden" name="year" >
        <select name="year">
          <% 2010.upto(2050) do |n| %>
              <option value=<%= n.to_s %>><%= n %></option>
          <% end %>
        </select>
    <input type="submit">
</div>
<% end %>
</div>
