<h2>変動費科目の新規データ登録</h2>
<%= link_to "トップページへ戻る", root_path %>
<p>登録年月を設定してください</p>
<%= form_tag({controller: :change_values, action: :new}, {method: :post}) do %>
	<input type="month" name="year_month">
	<input type="submit">
<% end %>

<h2>変動費科目 データ一覧 </h2>
<% if @change_values.present? %>
<table>
  <tr>
    <th>登録年月</th>
    <th>名称</th>
    <th>値</th>
    <th>備考</th>
		<th>操作</th>
  </tr>
	<% @change_values.each do |change_value| %>
	<tr>
		<td><%= change_value.year_month.strftime('%Y年%m月') %></td>
		<td><%= @changes.find(change_value.change_id).name %></td>
		<td><%= change_value.value.to_s(:delimited) %> 円</td>
		<td><%= change_value.description %></td>
		<td>
		<%= link_to "編集", [:edit, change_value] %> |
		<%= link_to "削除", change_value, method: :delete %>
		</td>
	</tr>
	<% end %>
</table>
<% else %>
	<p>登録されているデータがありません。</p>
<% end %>