<div class="body">

<div class="title">
 <div class="main-title"><%= link_to "kakevo", root_path %></div>
</div>
<div class="change-values-n">変動費科目の新規データ登録
</div>

<p class="year-month">登録年月を設定してください</p>
<div class="register-t">
<%= form_tag({controller: :change_values, action: :new}, {method: :post}) do %>
	<input type="month" name="year_month">
	<input type="submit">
<% end %>
</div>

<div class="change-values-i">変動費科目 データ一覧 </div>
<% if @change_values.present? %>
<table>
  <tr>
    <th>登録年月</th>
    <th>名称</th>
    <th>値</th>
    <th>備考</th>
		<th>操作</th>
  </tr>
	<% @change_values.each do |change_value| %>
	<tr>
		<td><%= change_value.year_month.strftime('%Y年%m月') %></td>
		<td><%= @changes.find(change_value.change_id).name %></td>
		<td><%= change_value.value %> 円</td>
		<td><%= change_value.description %></td>
		<td>
		<%= link_to "編集", edit_change_value_path(change_value.id) %> 
		<%= link_to "削除", change_value_path(change_value.id), method: :delete %>
		</td>
	</tr>
	<% end %>
</table>
<% else %>
	<p>登録されているデータがありません。</p>
<% end %>
</div>